<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <title>Health Reporting System</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Add a New User</h1>
    <form method="post">
        Email: <input type="text" name="email"><br>
        Name: <input type="text" name="name"><br>
        Surname: <input type="text" name="surname"><br>
        Salary: <input type="number" name="salary"><br>
        Country: <input type="text" name="cname"><br>
        <button type="submit">Add User</button>
    </form>
</body>
</html>
