<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <title>Health Reporting System</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Edit User</h1>
    <form method="post">
        Name: <input type="text" name="name" value="{{ user.name }}"><br>
        Surname: <input type="text" name="surname" value="{{ user.surname }}"><br>
        Salary: <input type="number" name="salary" value="{{ user.salary }}"><br>
        Country: <input type="text" name="cname" value="{{ user.cname }}"><br>
        <button type="submit">Update User</button>
    </form>
</body>
</html>
